*.iml
.gradle
/local.properties
/.idea/.name
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/Project.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
