<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eliteCapture">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:icon="@drawable/approcesos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_elite_capture"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.eliteCapture.Camera"/>
        <activity
            android:name="com.example.eliteCapture.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.example.eliteCapture.genated"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.example.eliteCapture.Index"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.eliteCapture.splash_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>